{% extends 'base.html' %}
{% block title %} Политика конфиденциальности{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'landing_page/css/policy_rules_styles.css'%}" type="text/css">

    <br>
    <br>

<section class="features" id="features">
   <div class="card">
        <div class="card-content">
                     <div class="step-header">
                            <h3 class="step-title">ЛИЦЕНЗИОННОЕ СОГЛАШЕНИЕ STALKER ROLEPLAY ® С КОНЕЧНЫМ ПОЛЬЗОВАТЕЛЕМ </h3>
                        </div>
                        <p class="step-description">ВНИМАНИЕ! ОЗНАКОМЬТЕСЬ С ВАЖНОЙ ИНФОРМАЦИЕЙ! ЭТА РЕДАКЦИЯ
                            ЛИЦЕНЗИОННОГО СОГЛАШЕНИЯ НЕ ЯВЛЯЕТСЯ ОКОНЧАТЕЛЬНОЙ И МОЖЕТ БЫТЬ РЕДАКТИРОВАНА STALKER
                            ROLEPLAY ПО СОБСТВЕННЫМ СООБРАЖЕНИЯМ И ИЗМЕНЕНИЕМ ВЕКТОРА РАЗВИТИЯ STALKER ROLEPLAY.
                            ВНИМАТЕЛЬНО ОЗНАКОМТЕСЬ С ДАННЫМ С ЛИЦЕНЗИОННЫМ СОГЛАШЕНИЕМ (ДАЛЕЕ – «СОГЛАШЕНИЕ») ПЕРЕД
                            ИСПОЛЬЗОВАНИЕМ ПЛАТФОРМЫ STALKER ROLEPLAY. ЕСЛИ ВЫ НЕ СОГЛАСНЫ С ДАННЫМ ЛИЦЕНЗИОННЫМ
                            СОГЛАШЕНИЕМ, ВЫ НЕ В ПРАВЕ ПРОИЗВОДИТЬ РЕГИСТРАЦИЮ НА ПРОЕКТЕ STALKER ROLEPLAY И
                            ПОЛЬЗОВАТЬСЯ РЕСУРСАМИ ДАННОГО ПРОЕКТА. Дата вступления в силу: 29/01/2022 00:00 UTC
                            <br>
                            <ul class="fancy-list">
                                <li>STALKER ROLEPLAY далее именуется как «SRP» или «мы»;</li>
                                <li>Пользователь, зарегистрировавший свой аккаунт далее именуется как «Игрок», «Посетитель», «Гость»;</li>
                            </ul>
                            <br>
                            Мы благодарим вас за проявленный интерес к STALKER ROLEPLAY! Мы надеемся, что вам у нас
                            понравится и вы получите только самые позитивные впечатления от ролевой игры вместе с нами!
                            Данное соглашение является документом, который лицензирует вас на использование всего
                            функционала STALKER ROLEPLAY и даёт вам право использовать все преимущества официального
                            игрока наших серверов. Под функционалом понимаются все следующие платформы:
                            <br>
                            <br>
                            <ul class="fancy-list">
                                <li>Сервер STALKER ROLEPLAY на платформе GTA SAN ANDREAS MULTIPLAYER;</li>
                                <li>Личный кабинет и основной сайт STALKER ROLEPLAY – <a target="_blank" class="link-policy" href="https://stalker-rp.net/">https://stalker-rp.net/</a>;</li>
                                <li>Форум STALKER ROLEPLAY – <a target="_blank" class="link-policy" href="https://forum.stalker-rp.net/">https://forum.stalker-rp.net/</a>;</li>
                                <li>Официальный сервер Discord - <a target="_blank" class="link-policy" href="https://discord.gg/f29VX8tz">https://discord.gg/f29VX8tz</a>;</li>
                                <li>Сообщества STALKER ROLEPLAY ВКонтакте - <a target="_blank" class="link-policy" href="https://vk.com/stalkerrp03dl">https://vk.com/stalkerrp03dl</a>;</li>
                                <li>Иные платформы, заявленные руководством STALKER ROLEPLAY в дальнейшем;</li>
                            </ul>
                        </p>

                </div>
            </div>


            <br>
            <br>




    <div class="card">
        <div class="card-content">

                     <div class="step-header">
                            <h3 class="step-title">1. Игровой аккаунт: </h3>
                        </div>
                        <p class="step-description">1.1 Для использования игрового сервера и его функционала, STALKER
                            ROLEPLAY требует от вас регистрации аккаунта в личном кабинете stalker-rp.net и прохождение
                            тестирования User Control Panel для получения доступа к серверу.
                            <br>
                            <br>
                            1.2 Все жалобы, предложения, а также прочую информацию по поводу игрового режима STALKER
                            ROLEPLAY принимает исключительно от игроков, у которых присутствует аккаунт на STALKER
                            ROLEPLAY.
                            <br>
                            <br>
                            1.3 Игроки имеют ограничение в количестве аккаунтов – не более 1 UCP аккаунта.
                            <br>
                            <br>
                            1.4 Для регистрации аккаунта требуется создание уникального никнейма, в соответствии с
                            требованиями правил ролевой игры и уникального пароля, которым не может быть ваше реальное
                            имя/реальный адрес/реальный год рождения/реальной номер банковской карты/реальный номер
                            мобильного телефона в целях вашей безопасности, а также адрес электронной почты.
                            <br>
                            <br>
                            1.5 Игровой аккаунт и всё игровое имущество является неотчуждаемой без веских оснований
                            собственностью STALKER ROLEPLAY, не подлежит продаже за вне игровую валюту (имущество),
                            не подлежит продаже или передаче (аккаунт).
                            <br>
                            <br>
                            1.6 STALKER ROLEPLAY гарантирует сохранность ваших персональных данных в соответствии с
                            Политикой Конфиденциальности STALKER ROLEPLAY в случае, если вы не передаёте свои
                            персональные данные, включая пароль для авторизации третьим лицам. Ваш логин
                            (никнейм персонажа) относится к публичной информации. Исходя из этого, мы гарантируем
                            сохранность ваших данных в случае кибернетических атак в нашей системе.
                            <br>
                            <br>
                            1.7 STALKER ROLEPLAY готовы оказать любую поддержку, связанную с вашим игровым аккаунтом при
                            помощи форума, а также внутриигрового клиента посредствам связи с игровыми администраторами
                            или службой поддержки через соответствующие сервисы.
                            <br>
                            <br>
                            1.8 Регистрируя аккаунт на форуме или в игре, или на любой другой платформе STALKER
                            ROLEPLAY, вы подтверждаете факт того, что вы согласны с действующим соглашением, Политикой
                            Конфиденциальности, Правилами Форума, Правилами Сервера и Ролевым режимом.
                            <br>
                            <br>
                            1.9 Администрация в праве заблокировать ваш игровой аккаунт в случае нарушения указанных в
                            пункте 1.8 действующего соглашения на той платформе, где было замечено нарушение.
                        </p>

                </div>
            </div>


            <br>
            <br>


     <div class="card">
        <div class="card-content">
            <div class="step-header">
                <h3 class="step-title">2. Технические проблемы:</h3>
            </div>
            <p class="step-description">
                2.1 STALKER ROLEPLAY снимает с себя всю ответственность за все технические неполадки и иные
                технические повреждения ваших устройств, а также за иные проблемы, связанные с нарушением физического
                или психического здоровья, связанные с использованием вами платформы San Andreas Multiplayer во время
                игры на серверах San Andreas Multiplayer. Вы обязаны самостоятельно ознакомиться с техническими
                характеристиками платформы и исходить из возможностей вашего персонального компьютера.
                <br>
                <br>
                2.2 Игровой процесс на серверах STALKER ROLEPLAY осуществляется исключительно через официальный игровой
                сервис (лаунчер), который предоставляет возможность загрузки всех необходимых файлов для корректного
                функционирования игры и позволяет начать игровой процесс. Использование любых сторонних программ или
                методов для доступа к игре является нарушением Пользовательского соглашения и может привести к
                блокировке аккаунта.
                <br>
                <br>
                2.3 STALKER ROLEPLAY не несёт ответственности за все сторонние модификации или иные средства
                технического обеспечения, которые модернизируют версию San Andreas Multiplayer. Использование стороннего
                ПО может привести к повреждению вашего персонального компьютера, утечке персональных данных или
                повреждению программного обеспечения. Для безопасного доступа к игре используйте только официальный
                лаунчер STALKER ROLEPLAY, который обеспечивает корректную работу всех игровых файлов. Не устанавливайте
                дополнительный софт, если он кажется вам подозрительным.
                <br>
                <br>
                2.4 STALKER ROLEPLAY берёт на себя обязательство восстановить ваш игровой аккаунт и всё игровое
                имущество в случае, если его утеря была произведена в следствии каких-либо нарушений или перебоев в
                работе со стороны STALKER ROLEPLAY, о которых будет официально заявлено руководством STALKER ROLEPLAY.
                <br>
                <br>
                2.5 STALKER ROLEPLAY откажет вам в восстановлении вашего игрового аккаунта и игрового имущества в
                случае, если его утеря была произведена в следствии вашей невнимательности к действующим Правилам
                Сервера, Политики Конфиденциальности, при этом гарантируя сохранность всех игровых благ на уровне
                обеспечения безопасности STALKER ROLEPLAY. Будьте внимательны по отношению к вашему имуществу и не
                передавайте его никому без собственного желания или в случае, если внутри игровая сделка перечит
                действующим Правилам Сервера.
            </p>
            </div>
        </div>
    <br>
    <br>

        <div class="card">
        <div class="card-content">

                     <div class="step-header">
                            <h3 class="step-title">3. Добровольные пожертвования – «Донат»:</h3>
                        </div>
                        <p class="step-description">
                            3.1 Вы имеете право совершить пожертвование в адрес STALKER ROLEPLAY добровольно, при помощи
                            встроенных платёжных систем. За игровое пожертвование в адрес STALKER ROLEPLAY игрок может
                            получать те или иные внутриигровые ценности.
                            <br>
                            <br>
                            3.2 STALKER ROLEPLAY обрабатывает и хранит ваши платёжные данные в соответствии с Политикой
                            Конфиденциальности STALKER ROLEPLAY.
                            <br>
                            <br>
                            3.3 Игроки, которые не совершают пожертвований, не ограничиваются в игровом контенте или
                            функционале, пожертвования не обязательны для нормальной игры на серверах STALKER ROLEPLAY.
                            <br>
                            <br>
                            3.4 Совершая пожертвования, вы имеете право отслеживать, дошло ли пожертвование до
                            получателя.
                            <br>
                            <br>
                            3.5 Все пожертвования осуществляются через сервисы платёжных систем, доступных при выборе
                            при пополнении счета
                            <br>
                            <br>
                            3.6 Администрация STALKER ROLEPLAY не несёт ответственности за сбои в работе платёжных
                            систем, однако может оказать содействие в решении вопросов с платёжной системой в пределах
                            своей компетенции.
                            <br>
                            <br>
                            3.7 После оказания платной услуги в надлежащем качестве, деньги, потраченные на ее
                            приобретение, возврату не подлежат. В случае, если услуга не была оказана в полной мере или
                            была оказана в ненадлежащем качестве (баланс личного кабинета не был пополнен или сумма
                            пополнения отличается от расчётной суммы при оплате заказа), заказчик имеет право отказаться
                            от услуги, обратившись по электронной почте, и получить полную компенсацию ее стоимости либо
                            аналогичную услугу. Срок рассмотрения претензий и возврата средств — 15 рабочих дней
                        </p>

                </div>
            </div>


            <br>
            <br>

    <div class="card">
        <div class="card-content">

                     <div class="step-header">
                            <h3 class="step-title">4. Администрация STALKER ROLEPLAY и взаимодействие Игрок – Администратор:</h3>
                        </div>
                        <p class="step-description">
                            4.1 Администрация – это уполномоченные лица, в обязанности которых входит обслуживание
                            сервера, слежение за соблюдением Правил Сервера, а также иных нормативно-правовых актов
                            STALKER ROLEPLAY, санкционирование нарушителей, решение внутри игровых конфликтов.
                            <br>
                            <br>
                            4.2 В Администрацию отбираются игроки STALKER ROLEPLAY в соответствии с внутренними
                            требованиями STALKER ROLEPLAY.
                            <br>
                            <br>
                            4.3 Администратор – официальное лицо, которое представляет STALKER ROLEPLAY и способно
                            говорить от имени конкретного сервера.
                            <br>
                            <br>
                            4.4 Администрация призвана оказывать внутри игровую техническую поддержку всем без
                            исключения игрокам теми или иными проблемами, которые касаются исключительно игрового
                            процесса на сервера STALKER ROLEPLAY.
                            <br>
                            <br>
                            4.5 Администрация не обязана оказывать техническую поддержку по вопросам работы San Andreas
                            Multiplayer, вашего персонального компьютера и иных аспектов, которые прямо или косвенно не
                            касаются STALKER ROLEPLAY и игровых серверов.
                            <br>
                            <br>
                            4.6 Администрация имеет право заблокировать доступ не только к аккаунту, с которого было
                            совершено нарушение, но и к вашему IP-адресу, а также к уникальному идентификатору вашего
                            компьютера на серверах STALKER ROLEPLAY, в случае если нарушение является критичным или
                            требует таких мер. Блокировка может быть применена для предотвращения дальнейших нарушений
                            и обеспечения безопасности игрового сообщества.
                            <br>
                            <br>
                            4.7 Администрация в праве изменить наказание без уведомления наказанного игрока.
                            <br>
                            <br>
                            4.8 Администрация готова обсудить любые аспекты игры и проконсультировать на те или иные
                            темы, связанные с STALKER ROLEPLAY и ролевой игрой.
                            <br>
                            <br>
                            4.9 Действия администрации возможно обсуждать только в специальном отведённом разделе
                            форума, прикрепляя доказательства нарушений администраторов. Клевета или преднамеренный
                            оговор администрации запрещён.
                            <br>
                            <br>
                            4.10 Администратор в праве проверить вас на наличие сторонних программ без вашего
                            уведомления о слежении за вашим персонажем в процессе игры.

                        </p>

                </div>
            </div>
            <br>
            <br>


    <div class="card">
        <div class="card-content">
                     <div class="step-header">
                            <h3 class="step-title">5. Гарантии:</h3>
                        </div>
                        <p class="step-description">5.1 STALKER ROLEPLAY предоставляет функционал сервера на фактической
                            основе «как есть» и «по мере наличия» для использования без предоставления гарантий любого
                            рода, явно выраженных или подразумеваемых, включая, в частности, гарантию своевременных
                            обновлений и нововведений.
                            <br>
                            <br>
                            5.2 STALKER ROLEPLAY не гарантирует вам непрерывную работу серверов или отсутствие ошибок,
                            а также моментальное устранение всех дефектов.
                        </p>
                </div>
            </div>

    <br>
    <br>
    <center>
        <p style="color:#374a3f;"
        <br>
        [EN] Developed by STALKER ROLEPLAY Team 2022. All rights reserved ©. STALKER ROLEPLAY ®
        <br>
        [RU] Разработано командой STALKER ROLEPLAY 2022. Все права сохранены ©. STALKER ROLEPLAY ®
        <br>
        [UA] Розроблено командою STALKER ROLEPLAY 2022. Всi права збереженi ©. STALKER ROLEPLAY ®
        <br>
        [KZ] Команда әзірлеген STALKER ROLEPLAY 2022. Барлық құқықтар қорғалған ©. STALKER ROLEPLAY ®
        </p>
    </center>
    </section>

{% endblock %}