{% extends 'base.html' %}
{% block title %} Новости{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'news/css/styles.css'%}" type="text/css">


<style>
    a {
        text-decoration: None;
    }

    ul {
        margin-left:37px;
    }
</style>
    <section class="hero">
        <div class="container hero-content">
            <h1>Новости проекта</h1>
            <p>Самые актуальные новости проекта</p>
        </div>
    </section>

<section class="features" id="features">
    <br>
    <br>



    <style>
.copy-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #3a4f43;
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}
</style>

<div class="copy-notification" id="copyNotification"></div>




<style>
    .hero {
       padding: 180px 0 100px;
       background: url('{% static 'landing_page/img/fon_news.png' %}') no-repeat center center;
       background-size: cover;
       position: fixed;
       text-align: center;
       position: relative;
       overflow: hidden;
    }
</style>


<div class="news-container">
    <div class="news-list">
        {% for el in news %}
            <!-- Новость 1 -->
            <div class="news-card">
                {% if el.is_new %}
                <span class="new-badge">NEW</span>
                {% endif %}
                <div class="news-image-container">
                    <img src="{{ el.image.url }}" class="news-image">
                </div>
                <div class="news-content">
                    <div>
                        {% for tag in el.tags.all %}
                        <span class="news-category">{{ tag.name }}</span>
                        {% endfor %}
                        <div class="news-header">
                            <h2 class="news-title">{{ el.title }}</h2>
                            <span class="news-date">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                                {{ el.views }}</span>
                        </div>
                        <p class="news-excerpt">{{ el.description|truncatechars:110 }}</p>
                    </div>
                         <div class="step-actions">
                            <a href="{{ el.get_absolute_url }}" class="step-btn next" data-next="2">Читать далее</a>
                        </div>
                </div>
            </div>

        {% endfor %}




        </div>
    </div>

    <br>
    <br>



</section>

{% endblock %}